h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

p {
  color: #34495e;
  font-weight: 700;
}

.price {
  font-size: 22px;
}

@media only screen and (max-width: 600px) {
  .desktop {
    display: none;
  }
}